* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.header {
	font-size: 28px;
	margin-top: 5px;
}

.container {
	text-align: center;
	background-color: white;
}

.row {
	display: inline-block;
	width: 300px;
	border: 1px solid black;
}

.newTodo {
	margin-top: 5px;
	text-align: center;
}

.todoList {
	list-style: none;
}

.todoItem {
	margin-left: -15%;
	overflow-wrap: break-word;
}

.todoList li {
	font-size: 1.1rem;
}

.todoList a {
	text-decoration: none;
	color: #b83b5e;
	margin-left: -15%;
	text-transform: uppercase;
	font-family: monospace;
	font-size: 1.2rem;
	font-weight: bold;
}

.button {
	display: block;
	width: 115px;
	height: 25px;
	background: #b83b5e;
	padding: 25px;
	text-align: center;
	border-radius: 25px;
	margin: 25px;
	color: white;
	font-weight: bold;
}

.div {
	left: 20%;
	position: absolute;
}

.div-2 {
	left: 65%;
	bottom: 60%;
	position: absolute;
}
